<div>

<ol style="--length: 5" role="list">
	<li style="--i: 1">
		<h3>Exploring the Historic City</h3>
		<p>Discover the historic treasures of Istanbul, including the Blue Mosque, Hagia Sophia, and Topkapi Palace, with expert guides sharing fascinating stories of ancient Byzantium and the Ottoman Empire.</p>
	</li>
	<li style="--i: 2">
		<h3>Bosphorus Cruise</h3>
		<p>Enjoy a relaxing cruise on the Bosphorus, admiring magnificent palaces, iconic bridges, and charming neighborhoods lining the strait that connects Europe and Asia.</p>
	</li>
	<li style="--i: 3">
		<h3>Cultural Immersion at the Grand Bazaar</h3>
		<p>Dive into the vibrant atmosphere of the Grand Bazaar and the Spice Bazaar, where you can shop for souvenirs, spices, and textiles while experiencing the true spirit of Istanbul.</p>
	</li>
	<li style="--i: 4">
		<h3>Culinary Delights</h3>
		<p>Savor the unique flavors of Turkish cuisine with dinners at local restaurants, featuring iconic dishes such as kebabs, börek, and baklava, accompanied by traditional Turkish tea.</p>
	</li>
	<li style="--i: 5">
		<h3>Galata Tower Visit and Taksim Stroll</h3>
		<p>Climb the Galata Tower for a panoramic view of the city, then wander through the lively streets of Taksim and Istiklal Avenue, where culture meets modernity.</p>
	</li>
</ol>
<div class="credit">
    
</div>
<button type="button" class="btn_back" [routerLink]="['/']">
    
    <strong>back</strong>
    <div id="container-stars">
      <div id="stars"></div>
    </div>
  
    <div id="glow">
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
  </button>
  
</div>

