


  
<head>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
 <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
   </head>
   <body>
     <input type="checkbox" id="check">
     <label for="check">
       <i class="fas fa-bars" id="btn"></i>
       <i class="fas fa-times" id="cancel"></i>
     </label>
     <div class="sidebar">
       <header>Menu</header>
       <a href="/places" class="active">
         <i class="fas fa-qrcode"></i>
         <span>famous-places </span>
       </a>
       <a href="/about-me">
         <i class="fas fa-link" ></i>
         <span>about me</span>
       </a>
       <a routerLink="/restaurants" routerLinkActive="active">
         <i class="fas fa-stream"></i>
         <span>restaurants</span>
       </a>
       <a href="/activities">
          <i class="fas fa-calendar"></i>
         <span>activities</span>
       </a>
       <a href="/aboutapp">
         <i class="far fa-question-circle"></i>
         <span>About</span>
       </a>
       <a href="/programs">
         <i class="fas fa-sliders-h"></i>
         <span>programs</span>
       </a>
       <a href="/contact">
         <i class="far fa-envelope"></i>
         <span>Contact</span>
       </a>
     </div>
 </body>
     
 

 