
<div class="about-wrapper">
    <!-- Left Side: About Info -->
    <div class="about-left">
        <div class="about-left-content">
            <div>
                <div class="shadow">
                    <!-- Profile Image -->
                    <div class="about-img">
                        <img src="../../../assets/logo.jpg" alt="Profile image of Manel Sidaoui">
                    </div>
                </div>

                <!-- Personal Information -->
                <h2>Sidaoui Manel</h2>
                <h3>Web Developer | Passionate Traveler</h3>
            </div>

            <!-- Social Media Links -->
            <ul class = "icons">
                <li><i class = "fab fa-facebook-f"></i></li>
                <li><i class = "fab fa-twitter"></i></li>
                <li><i class = "fab fa-linkedin"></i></li>
                <li><i class = "fab fa-instagram"></i></li>
              </ul>
        </div>
    </div>

    <!-- Right Side: About Content -->
    <div class="about-right">
        <h1>Hello <span>!</span></h1>
        <h2>Here's who I am & what I do</h2>

        <!-- Buttons -->
        <div class="about-btns">
            <button type="button" class="btn btn-pink">
                <a href="https://sidaouimanel.github.io/sidaoui-portfolio/" target="_blank" style="color: white; text-decoration: none;">Resume / CV</a>
            </button>
            <button type="button" class="btn btn-pink">
                <a href="https://github.com/sidaouimanel" target="_blank" style="color: white; text-decoration: none;">Github</a>

            </button>
            
        </div>

        <!-- About Paragraph -->
        <div class="about-para">
            <p>Hi, I'm Sidaoui Manel, a passionate web developer with a love for creating responsive, dynamic websites. My journey in the tech world began with an eagerness to solve problems and create seamless user experiences. I specialize in front-end technologies such as React.js, HTML, CSS, and JavaScript, as well as backend development using Node.js and MongoDB. I’m always excited to dive into new projects that challenge my skills and allow me to grow.</p>
            <p>Aside from coding, I’m a passionate traveler. One of my favorite places I’ve visited is Istanbul – the city’s unique blend of history, culture, and modernity truly inspires me. I believe travel plays a huge role in broadening perspectives, which ultimately helps me as a developer to create more creative and diverse digital experiences. Whether I’m working on a project or planning my next trip, I’m always looking to learn and explore new possibilities.</p>
        </div>

        <!-- Credit Section -->
        <div class="credit">
            Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Sidaoui Manel</a>
        </div>
    </div>
    <!-- Back Button -->
    <button type="button" class="btn" [routerLink]="['/']">
        <strong>back</strong>
        <div id="container-stars">
          <div id="stars"></div>
        </div>
      
        <div id="glow">
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </button>
     
      
      

</div>
